<div class="n-storylines__scroll-container">
	<div class="n-storylines__scroll-segments">
		{{#each children}}
		<div class="n-storylines__heatmap-segment" data-trackable="month-segment">
			<ul class="dot-container">
				{{#if dot}} {{#each dot}}
				<li class='dot' style="margin-left: {{position}}%">{{name}}</li>
				{{/each}} {{/if}}
			</ul>
			{{#ifEquals weight 0}}
			<div class="n-storylines__heatmap-segment-none"></div>
			{{else}}
			<div class="n-storylines__heatmap-segment-colour--background n-storylines__heatmap-segment--all" tabindex="0">
				<span class="o-normalise-visually-hidden">View stories from {{name}}</span>
				<div class="n-storylines__heatmap-segment-colour n-storylines__all-months" style="opacity: {{weight}};"></div>
			</div>
			<div class="n-storylines__summary">
				<span class="n-storylines__bold">Explore {{name}}</span>
				<p>{{total}} articles published</p>
			</div>

			{{/ifEquals}}
			<p class="n-storylines__heatmap-segment-name">{{abbreviatedName}}</p>
		</div>
		{{/each}}
	</div>
</div>
