<div class="n-storylines__scroll-container">
	<div class="n-storylines__scroll-segments">
		{{#each children}}
		<div class="n-storylines__heatmap-segment" data-trackable="year-segment">
			<ul class="dot-container">
				{{#if dot}} {{#each dot}}
				<li class='dot' style='margin-left: {{position}}%'>{{name}}</li>
				{{/each}} {{/if}}
			</ul>
			<div class="n-storylines__heatmap-segment-colour--background n-storylines__heatmap-segment--all" tabindex="0">
				<span class="o-normalise-visually-hidden">View stories from {{name}}</span>
				<div class="n-storylines__heatmap-segment-colour" style="opacity: {{weight}};"></div>
			</div>
			<div class="n-storylines__summary">
				<span class="n-storylines__bold">Explore {{name}}</span>
				<p>{{total}} articles published</p>
			</div>
			<p class="n-storylines__heatmap-segment-name">{{name}}</p>
		</div>
		{{/each}}
	</div>
</div>
