$opaque: rgba(0,0,0,0.6);
$background: oColorsGetPaletteColor('wheat');
$filler: oColorsGetPaletteColor('black-90');
$border: oColorsGetPaletteColor('black-20');
$buttonColor: oColorsGetPaletteColor('teal-40');
