.core .n-storylines__container {
	display: none;
}

.n-storylines__container {
	width: 100%;
	padding-left: 0px;
	margin: 25px 0 20px 15px;
	border-top: 8px solid oColorsGetPaletteColor('black');
	@include oGridRespondTo($until: M) {
		width: 95%;
		margin-left: 12px;
	}
}

.n-storylines {
	padding: 0;
}

.n-storylines__info {
	@include oTypographySans(3);
	margin: 8px 0;
}

.n-storylines__nav {
	height: 30px;
	line-height: 0;
	margin-bottom: 0;

	// HACK: display arrow correctly in IE11
	// remove after o-button ^5.0.1
	.n-storylines__back-btn {
		@include oTypographyLink();
		@include oTypographySansBold(0);
		background: none;
		border: none;
		&:before {
			content: '';
			display: inline-block;
			@include oIconsGetIcon('arrow-left', oColorsGetPaletteColor('teal'), 12);
			position: relative;
			top: 1px;
		}
	}
}
