.core .n-storylines__container {
	display: none;
}

.n-storylines__container {
	width: 100%;
	margin: 25px 0 0 15px;
	border-top: 8px solid oColorsGetPaletteColor('black');
	border-bottom: 1px solid $border;
	@include oGridRespondTo($until: M) {
		width: 95%;
		margin-left: 12px;
	}
}

.n-storylines {
	padding: 0;
}

.n-storylines__info {
	@include oTypographySans(2);
	margin: 8px 0;
}

.n-storylines__nav {
	height: 30px;
	line-height: 0;
	margin-bottom: 20px;

	// HACK: display arrow correctly in IE11
	// remove after o-button ^5.0.1
	.n-storylines__back-btn {
		background-size: 12px 12px;
	}
}

.n-storylines__content-count {
	color: rgba(0, 0, 0, 0.6);
	float: right;
	@include oTypographySans(-1);
	@include oGridRespondTo($until: M) {
		margin-bottom: 10px;
	}
}
