.n-storylines__container {
	width: 100%;
	margin-top: 25px;
	border-top: 8px solid oColorsGetPaletteColor('black');
	border-bottom: 1px solid $border;
	padding: 0;

	@include oGridRespondTo($until: M) {
		width: 95%;
    margin-left: 12px;
	}
}

.n-storylines {
	padding: 0;
}

.n-storylines__info {
	@include oTypographySans(m);
  margin: 8px 0;
}

.n-storylines__nav {
	height: 30px;
}

.n-storylines__content-count {
	color: rgba(0, 0, 0, 0.6);
	float: right;
	@include oTypographySansData(m)
	@include oGridRespondTo($until: M){
		margin-bottom: 10px;
	}
}
