/*

This includes all the basic origami styles and mixins you can
expect to be available when a page uses n-ui

*//**
	* Prevent adjustments of font size after orientation changes in IE and iOS.
	*/html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}/**
	* Remove the margin in all browsers (opinionated).
	*/body {
  margin: 0;
}/* Links
		=====================================================================*//**
	* Remove the gray background on active links in IE 10.
	*/a {
  background-color: transparent;
}/**
	* Remove the outline on focused links when they are also active or hovered
	* in all browsers (opinionated).
	*/a:active,
a:hover {
  outline-width: 0 !important;
}a:focus {
  outline: 3px solid #26747a;
  outline-offset: 3px;
}/* Text-level semantics
		=====================================================================*//**
	* 1. Remove the bottom border in Firefox 39-.
	* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	*/abbr[title] {
  border-bottom: 0;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}/**
	* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
	*/b,
strong {
  font-weight: inherit;
}/**
	* Add the correct font weight in Chrome, Edge, and Safari.
	*/b,
strong {
  font-weight: bolder;
}/**
	* Add the correct font style in Android 4.3-.
	*/dfn {
  font-style: italic;
}/**
	* Prevent `sub` and `sup` elements from affecting the line height in
	* all browsers.
	*/sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}sub {
  bottom: -0.25em;
}sup {
  top: -0.5em;
}/* Embedded content
		=====================================================================*//**
	* Remove the border on images inside links in IE 10-.
	*/img {
  border-style: none;
}/* Forms
		=====================================================================*//**
	* Change font properties to `inherit` in all browsers (opinionated).
	*/button,
input,
select,
textarea {
  font: inherit;
}/**
	* Restore the font weight unset by the previous rule.
	*/optgroup {
  font-weight: bold;
}/**
	* Show the overflow in IE.
	* 1. Show the overflow in Edge.
	* 2. Show the overflow in Edge, Firefox, and IE.
	*/button,
input,
select {
  /* 2*/
  overflow: visible;
}/**
	* Remove the margin in Safari.
	* 1. Remove the margin in Firefox and Safari.
	*/button,
input,
select,
textarea {
  /* 1*/
  margin: 0;
}/**
	* Remove the inheritance of text transform in Edge, Firefox, and IE.
	* 1. Remove the inheritance of text transform in Firefox.
	*/button,
select {
  /* 1*/
  text-transform: none;
}/**
	* Change the cursor in all browsers (opinionated).
	*/button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}/**
	* Restore the default cursor to disabled elements unset by the previous rule.
	*/[disabled] {
  cursor: default;
}/**
	* Remove the inner border and padding in Firefox.
	*/button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}/**
	* Remove the default vertical scrollbar in IE.
	*/textarea {
  overflow: auto;
}/**
	* Give <main>s the proper display value in IE.
	*/main {
  display: block;
}/* Hidden
		=====================================================================*//**
	* Add the correct display in IE 10-.
	*/[hidden] {
  display: none !important;
}/* Next specific stuff
		=====================================================================*//**
	* Standardise outline styles
	* This will be phased out...
	*/:focus {
  outline: thin dotted;
  outline-offset: 1px;
}html:after {
  content: '{ "layout": "default", "gutter": "10px" }';
  display: none;
}@media (min-width: 30.625em) {
  html:after {
    content: '{ "layout": "S", "gutter": "10px" }';
  }
}@media (min-width: 46.25em) {
  html:after {
    content: '{ "layout": "M", "gutter": "20px" }';
  }
}@media (min-width: 61.25em) {
  html:after {
    content: '{ "layout": "L", "gutter": "20px" }';
  }
}@media (min-width: 76.25em) {
  html:after {
    content: '{ "layout": "XL", "gutter": "20px" }';
  }
}.o-grid-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 240px;
  max-width: 1220px;
  /*autoprefixer: off*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
}@media (min-width: 46.25em) {
  .o-grid-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}@media (min-width: 46.25em) {
  .o-grid-container {
    max-width: 740px;
  }
}@media (min-width: 61.25em) {
  .o-grid-container {
    max-width: 980px;
  }
}@media (min-width: 76.25em) {
  .o-grid-container {
    max-width: 1220px;
  }
}.o-grid-container--bleed {
  padding-left: 0;
  padding-right: 0;
}.o-grid-row {
  clear: both;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  zoom: 1;
}@media print {
  .o-grid-row {
    display: inherit;
  }
}@media (min-width: 46.25em) {
  .o-grid-row {
    margin-left: -20px;
  }
}.o-grid-row:before, .o-grid-row:after {
  content: '';
  display: table;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}.o-grid-row:after {
  clear: both;
}[data-o-grid-colspan] {
  position: relative;
  float: left;
  flex: 1 1 0%;
  /*autoprefixer: off*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}@media (min-width: 46.25em) {
  [data-o-grid-colspan] {
    padding-left: 20px;
  }
}[data-o-grid-colspan~="0"], [data-o-grid-colspan~="hide"] {
  display: none;
}[data-o-grid-colspan~="1"] {
  display: block;
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  min-width: 8.33333%;
  max-width: 8.33333%;
  width: 8.33333%;
}[data-o-grid-colspan~="2"] {
  display: block;
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  min-width: 16.66667%;
  max-width: 16.66667%;
  width: 16.66667%;
}[data-o-grid-colspan~="3"] {
  display: block;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  min-width: 25%;
  max-width: 25%;
  width: 25%;
}[data-o-grid-colspan~="4"] {
  display: block;
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  min-width: 33.33333%;
  max-width: 33.33333%;
  width: 33.33333%;
}[data-o-grid-colspan~="5"] {
  display: block;
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  min-width: 41.66667%;
  max-width: 41.66667%;
  width: 41.66667%;
}[data-o-grid-colspan~="6"] {
  display: block;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
}[data-o-grid-colspan~="7"] {
  display: block;
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  min-width: 58.33333%;
  max-width: 58.33333%;
  width: 58.33333%;
}[data-o-grid-colspan~="8"] {
  display: block;
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  min-width: 66.66667%;
  max-width: 66.66667%;
  width: 66.66667%;
}[data-o-grid-colspan~="9"] {
  display: block;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  min-width: 75%;
  max-width: 75%;
  width: 75%;
}[data-o-grid-colspan~="10"] {
  display: block;
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  min-width: 83.33333%;
  max-width: 83.33333%;
  width: 83.33333%;
}[data-o-grid-colspan~="11"] {
  display: block;
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  min-width: 91.66667%;
  max-width: 91.66667%;
  width: 91.66667%;
}[data-o-grid-colspan~="12"] {
  display: block;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}.o-grid-row--compact {
  margin-left: 0;
}.o-grid-row--compact > [data-o-grid-colspan] {
  padding-left: 0;
}@media (min-width: 30.625em) {
  [data-o-grid-colspan~="S0"], [data-o-grid-colspan~="Shide"] {
    display: none;
  }
  [data-o-grid-colspan~="S1"] {
    display: block;
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    min-width: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }
  [data-o-grid-colspan~="S2"] {
    display: block;
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    min-width: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }
  [data-o-grid-colspan~="S3"] {
    display: block;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    min-width: 25%;
    max-width: 25%;
    width: 25%;
  }
  [data-o-grid-colspan~="S4"] {
    display: block;
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    min-width: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }
  [data-o-grid-colspan~="S5"] {
    display: block;
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    min-width: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }
  [data-o-grid-colspan~="S6"] {
    display: block;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    min-width: 50%;
    max-width: 50%;
    width: 50%;
  }
  [data-o-grid-colspan~="S7"] {
    display: block;
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    min-width: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }
  [data-o-grid-colspan~="S8"] {
    display: block;
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    min-width: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }
  [data-o-grid-colspan~="S9"] {
    display: block;
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    min-width: 75%;
    max-width: 75%;
    width: 75%;
  }
  [data-o-grid-colspan~="S10"] {
    display: block;
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    min-width: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }
  [data-o-grid-colspan~="S11"] {
    display: block;
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    min-width: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }
  [data-o-grid-colspan~="S12"] {
    display: block;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}@media (min-width: 46.25em) {
  [data-o-grid-colspan~="M0"], [data-o-grid-colspan~="Mhide"] {
    display: none;
  }
  [data-o-grid-colspan~="M1"] {
    display: block;
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    min-width: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }
  [data-o-grid-colspan~="M2"] {
    display: block;
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    min-width: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }
  [data-o-grid-colspan~="M3"] {
    display: block;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    min-width: 25%;
    max-width: 25%;
    width: 25%;
  }
  [data-o-grid-colspan~="M4"] {
    display: block;
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    min-width: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }
  [data-o-grid-colspan~="M5"] {
    display: block;
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    min-width: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }
  [data-o-grid-colspan~="M6"] {
    display: block;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    min-width: 50%;
    max-width: 50%;
    width: 50%;
  }
  [data-o-grid-colspan~="M7"] {
    display: block;
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    min-width: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }
  [data-o-grid-colspan~="M8"] {
    display: block;
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    min-width: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }
  [data-o-grid-colspan~="M9"] {
    display: block;
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    min-width: 75%;
    max-width: 75%;
    width: 75%;
  }
  [data-o-grid-colspan~="M10"] {
    display: block;
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    min-width: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }
  [data-o-grid-colspan~="M11"] {
    display: block;
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    min-width: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }
  [data-o-grid-colspan~="M12"] {
    display: block;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}@media (min-width: 61.25em) {
  [data-o-grid-colspan~="L0"], [data-o-grid-colspan~="Lhide"] {
    display: none;
  }
  [data-o-grid-colspan~="L1"] {
    display: block;
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    min-width: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }
  [data-o-grid-colspan~="L2"] {
    display: block;
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    min-width: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }
  [data-o-grid-colspan~="L3"] {
    display: block;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    min-width: 25%;
    max-width: 25%;
    width: 25%;
  }
  [data-o-grid-colspan~="L4"] {
    display: block;
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    min-width: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }
  [data-o-grid-colspan~="L5"] {
    display: block;
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    min-width: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }
  [data-o-grid-colspan~="L6"] {
    display: block;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    min-width: 50%;
    max-width: 50%;
    width: 50%;
  }
  [data-o-grid-colspan~="L7"] {
    display: block;
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    min-width: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }
  [data-o-grid-colspan~="L8"] {
    display: block;
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    min-width: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }
  [data-o-grid-colspan~="L9"] {
    display: block;
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    min-width: 75%;
    max-width: 75%;
    width: 75%;
  }
  [data-o-grid-colspan~="L10"] {
    display: block;
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    min-width: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }
  [data-o-grid-colspan~="L11"] {
    display: block;
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    min-width: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }
  [data-o-grid-colspan~="L12"] {
    display: block;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}@media (min-width: 76.25em) {
  [data-o-grid-colspan~="XL0"], [data-o-grid-colspan~="XLhide"] {
    display: none;
  }
  [data-o-grid-colspan~="XL1"] {
    display: block;
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    min-width: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }
  [data-o-grid-colspan~="XL2"] {
    display: block;
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    min-width: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }
  [data-o-grid-colspan~="XL3"] {
    display: block;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    min-width: 25%;
    max-width: 25%;
    width: 25%;
  }
  [data-o-grid-colspan~="XL4"] {
    display: block;
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    min-width: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }
  [data-o-grid-colspan~="XL5"] {
    display: block;
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    min-width: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }
  [data-o-grid-colspan~="XL6"] {
    display: block;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    min-width: 50%;
    max-width: 50%;
    width: 50%;
  }
  [data-o-grid-colspan~="XL7"] {
    display: block;
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    min-width: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }
  [data-o-grid-colspan~="XL8"] {
    display: block;
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    min-width: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }
  [data-o-grid-colspan~="XL9"] {
    display: block;
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    min-width: 75%;
    max-width: 75%;
    width: 75%;
  }
  [data-o-grid-colspan~="XL10"] {
    display: block;
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    min-width: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }
  [data-o-grid-colspan~="XL11"] {
    display: block;
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    min-width: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }
  [data-o-grid-colspan~="XL12"] {
    display: block;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}[data-o-grid-colspan~="center"] {
  margin-left: auto;
  margin-right: auto;
  float: none;
}@font-face {
  src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.0/FinancierDisplayWeb-Regular.woff");
  font-family: FinancierDisplayWeb;
  font-weight: 400;
  font-style: normal;
}@font-face {
  src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.0/FinancierDisplayWeb-Bold.woff");
  font-family: FinancierDisplayWeb;
  font-weight: 700;
  font-style: normal;
}@font-face {
  src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.0/MetricWeb-Regular.woff");
  font-family: MetricWeb;
  font-weight: 400;
  font-style: normal;
}@font-face {
  src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.0/MetricWeb-Semibold.woff");
  font-family: MetricWeb;
  font-weight: 600;
  font-style: normal;
}html {
  background-color: #fff1e0;
  color: #333333;
  font-family: sans-serif;
  font-size: 0.8125em;
}html.o-typography--loaded-sansData {
  font-family: MetricWeb, sans-serif;
  font-size: initial;
}a {
  color: #26747a;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #26747a;
}a:hover, a:focus {
  color: #505050;
  border-bottom-color: transparent;
}.n-util-clearfix {
  *zoom: 1;
}.n-util-clearfix:before, .n-util-clearfix:after {
  content: " ";
  display: table;
}.n-util-clearfix:after {
  clear: both;
}.n-util-hide {
  display: none;
}@media screen {
  .n-util-hide\@screen {
    display: none;
  }
}@media print {
  .n-util-hide\@print {
    display: none;
  }
}.n-util-visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  overflow: hidden;
  padding: 0;
  width: 0;
  height: 0;
  white-space: nowrap;
}.no-js .n-util-hide-no-js,
.js .n-util-hide-js,
.core .n-util-hide-core,
.enhanced .n-util-hide-enhanced {
  display: none;
}.n-util-text-center {
  text-align: center;
}.n-util-text-left {
  text-align: left;
}.n-util-text-right {
  text-align: right;
}.n-util-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}.has-tabbed a:focus,
.has-tabbed button:focus,
.has-tabbed input:focus,
.has-tabbed select:focus {
  -webkit-box-shadow: 0 0 0 4px #9e2f50 !important;
          box-shadow: 0 0 0 4px #9e2f50 !important;
}.core .n-storylines__container {
  display: none;
}.n-storylines__container {
  width: 100%;
  margin: 25px 0 0 15px;
  border-top: 8px solid #000000;
  border-bottom: 1px solid #cec6b9;
}@media (max-width: 46.24em) {
  .n-storylines__container {
    width: 95%;
    margin-left: 12px;
  }
}.n-storylines {
  padding: 0;
}.n-storylines__info {
  font-family: MetricWeb, sans-serif;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  margin: 8px 0;
}.n-storylines__nav {
  height: 30px;
  line-height: 0;
}.n-storylines__content-count {
  color: rgba(0, 0, 0, 0.6);
  float: right;
  font-family: MetricWeb, sans-serif;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}@media (max-width: 46.24em) {
  .n-storylines__content-count {
    margin-bottom: 10px;
  }
}@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}.n-storylines__article-header {
  color: rgba(0, 0, 0, 0.6);
  font-family: MetricWeb, sans-serif;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}@media (max-width: 46.24em) {
  .n-storylines__article-header {
    margin: 0 0 10px 0;
  }
}.n-storylines__article {
  margin-bottom: 20px;
  line-height: 24px;
}.n-storylines__article::before {
  counter-increment: list;
  content: counter(list);
  font: 14px/15px MetricWeb, sans-serif;
  color: #ffe9d7;
  text-align: center;
  background-color: #1d1d1d;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  padding: 5px;
}@media (max-width: 46.24em) {
  .n-storylines__article::before {
    position: absolute;
    left: -35px;
    top: 2px;
  }
}@media (min-width: 46.25em) {
  .n-storylines__article::before {
    display: block;
    margin-bottom: 5px;
  }
}@media (min-width: 46.25em) and (max-width: 61.24em) {
  .n-storylines__article:nth-child(4) {
    clear: left;
  }
}.n-storylines__article::after {
  content: '';
  border: 0 solid #cec6b9;
  position: absolute;
  z-index: -1;
}@media (max-width: 46.24em) {
  .n-storylines__article::after {
    border-left-width: 1px;
    height: 100%;
    left: -23px;
    top: 27px;
  }
}@media (min-width: 46.25em) {
  .n-storylines__article::after {
    border-top-width: 1px;
    top: 13px;
    right: -41px;
    width: 100%;
  }
}.n-storylines__article:last-child::after {
  content: none;
}@media (min-width: 46.25em) and (max-width: 61.24em) {
  .n-storylines__article {
    border-top-width: 1px;
  }
  .n-storylines__article:nth-child(3)::after {
    left: 41px;
    width: 100vw;
  }
  .n-storylines__article:nth-child(4)::after {
    right: -20px;
    width: 100vw;
    z-index: -1;
  }
}.n-storylines__top-content {
  counter-reset: list;
  margin: 0 auto;
}@media (min-width: 46.25em) {
  .n-storylines__top-content {
    margin: 10px 0 0 -13px;
    width: 100%;
    padding: 0;
  }
}.n-storyline-timestamp {
  font-family: MetricWeb, sans-serif;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}.n-storylines__article-link {
  font-family: FinancierDisplayWeb, serif;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: none;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}.n-storylines__article-link:focus {
  cursor: pointer;
  color: #777777;
}.n-storylines__timeline-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
}.n-storylines__timeline-container:before {
  border-top: 1px solid #cec6b9;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 35px;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  z-index: -1;
}.n-storylines__scroll-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}.n-storylines__scroll-segments {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}@media (max-width: 46.24em) {
  .n-storylines__scroll-segments {
    position: absolute;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    overflow-x: scroll;
  }
}.n-storylines__heatmap-segment {
  text-decoration: none;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  position: relative;
}@media (max-width: 46.24em) {
  .n-storylines__heatmap-segment {
    min-width: 50px;
  }
  .n-storylines__heatmap-segment:first-of-type {
    margin-left: 25px;
  }
  .n-storylines__heatmap-segment:last-of-type {
    padding-right: 25px;
  }
}.n-storylines__heatmap-segment-none {
  background: none;
  height: 50px;
}.n-storylines__heatmap-segment-colour {
  background: #9e2f50;
  height: 100%;
}.n-storylines__summary {
  display: none;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  top: 75px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 8px 5px 0;
  font-size: 10px;
  line-height: 3px;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}.n-storylines__summary > .n-storylines__bold {
  font-weight: bold;
}.n-storylines__heatmap-segment-colour--background {
  height: 50px;
  background: #ffe9d7;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}.n-storylines__heatmap-segment-colour--background.n-storylines__heatmap-segment--all:hover, .n-storylines__heatmap-segment-colour--background.n-storylines__heatmap-segment--all:focus {
  border: 1px solid;
  cursor: pointer;
}@media (min-width: 46.25em) {
  .n-storylines__heatmap-segment-colour--background.n-storylines__heatmap-segment--all:hover + .n-storylines__summary, .n-storylines__heatmap-segment-colour--background.n-storylines__heatmap-segment--all:focus + .n-storylines__summary {
    display: inline-block;
  }
}.n-storylines__heatmap-segment-name {
  font-family: MetricWeb, sans-serif;
  line-height: 17px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  margin: 10px 0 5px;
}@media (max-width: 46.24em) {
  .n-storylines__heatmap-segment-name::before {
    counter-increment: dot;
    content: '';
    position: absolute;
    top: -95%;
    left: 45%;
    background-color: #ffe9d7;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    height: 9px;
    width: 9px;
  }
}.no-articles {
  opacity: 0.6;
}.dot-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 20px;
}.dot {
  position: absolute;
  background: #1d1d1d;
  top: -10px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  text-align: center;
  font-family: MetricWeb, sans-serif;
  line-height: 13px;
  font-size: 11px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffe9d7;
  padding: 5px;
  z-index: 3;
  margin-right: -4%;
}
/*# sourceMappingURL=main.css.map*/
